.thumbnail {
  margin-top: -20%;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.mat-form-field {
  width: 100%;
}

.mat-input-element.mat-form-field-autofill-control {
  font-size: 1.8rem;
  font-weight: 700;
}
