@import "../login.component.css";
.find-form {
  margin-top: 5rem;
}

.find-password {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 25rem;
  height: 20rem;
}

.input-password {
  width: 20rem;
  height: 4rem;
  margin: 2.5rem auto;
}

.input-password label {
  display: block;
  font-size: 1.5rem;
  color: #ffffff;
}

.input-password input {
  padding-left: 1rem;
  margin-top: 1rem;
  height: 2.5rem;
  width: 100%;
  border: 0px;
  border-radius: 0.5rem;
}

.txt-introduce {
  color: #ffffff;
  width: 20rem;
  margin: 10px auto;
  font-size: 1.2rem;
  padding: 1.5rem;
  box-sizing: border-box;
}

.btn-change {
  display: block;
  width: 20rem;
  margin: 0px auto;
  height: 3rem;
}