<div class="nav">
  <div class="container_12">
    <div class="grid_3">
      <a class="mat-h2 logo" routerLink="/main" (click)="test($event)">NANUM</a>
    </div>
    <div class="grid_4">
      <mat-form-field class="search-form-field">
        <input matInput type="text" class="search-input"
              [(ngModel)]="inputText">
        <button mat-button 
                *ngIf="inputText" 
                matSuffix mat-icon-button aria-label="Clear" 
                (click)="inputText=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="grid_2">
      <button mat-raised-button color="primary"
              (click)="openAskModal()">
              질문하기
      </button>
    </div>
    <div class="grid_3">
      <button mat-mini-fab color="primary"
              [matMenuTriggerFor]="menu">
        <mat-icon>face</mat-icon>
      </button>
    <mat-menu #menu="matMenu" overlapTrigger="false">
      <button mat-menu-item routerLink="/main" (click)="test($event)">
        내 프로필
      </button>
        <button mat-menu-item>
        <span>로그아웃</span>
      </button>
      </mat-menu>
    </div>
  </div>
  </div>
  <app-nav-tab
    [tabLinks]="tabLinks"
    [tabStatus]="tabStatus">
  </app-nav-tab>