<div class="sidebar">
  <h1 class="sidebar_header mat-h1">피드</h1>
  <div class="sidebar_lists">
    <ul class="sidebar_filters mat-caption" (click)="clickGeneralMenu($event)">
      <li><a href="#" [routerLink]="[]"><i class="material-icons">trending_up</i>최신 글</a></li>
      <li><a href="#" [routerLink]="[]"><i class="material-icons">bookmark_border</i>북마크한 답변</a></li>
      <li><a href="#" [routerLink]="[]"><i class="material-icons">whatshot</i>인기글</a></li>
    </ul>
    <div class="sidebar_edit mat-caption">
      <span><i class="material-icons">folder_special</i>내 토픽</span>
    </div>
    <ul class="sidebar_topics mat-caption" (click)="clickTopicMenu($event)">
      <li *ngFor="let topic of topics; let i = index" [attr.data-id]="topic.pk">
        <a href="#" [routerLink]="[]">{{topic.name}}</a>
      </li>
    </ul>
  </div>
</div>
