<div class="answer-container">
  <div *ngIf="isShow" class="list">
    <ul class="about-question">
      <li>질문</li>
      <li>토픽1</li>
      <li>토픽2</li>
    </ul>
    <h1 class="question-name">페이스북 광고는 어떻게 시작하나요?</h1>
    <ul class="about-answer">
      <li>답변 0개</li>
      <li>팔로우 200명</li>
      <li>12시간 전</li>
    </ul>
    <button>답변 달기</button>
    <button>팔로우</button>
    <i (click)="removeItem()" class="fa fa-times fa-2x"></i>
    <i (click)="changeChecked()" class="fa fa-2x" [class.fa-bookmark-o]="!isChecked" [class.fa-bookmark]="isChecked"></i>
  </div>
</div>