.container_12 {
  height: 54px;
}

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
  height: inherit;
}


.nav {
 background-color: #25284c;
     position: fixed;
     top: 0;
     width: 100%;
     z-index: 1;
}

.logo {
    color: white;
    font-style: bold;
    font-size: 2.5em;
    text-decoration: none;
}

.search-input,
.clear {
    background-color: #fff;
}

.search-form-field {
  width: 100%;
}
