@import "../login.component.css";
.email-login {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 25rem;
  height: 30rem;
}

.login-form {
  margin-top: 2.5rem;
  background-color: white;
  font-size: 1.5rem;
  padding: 0rem 2.5rem 2.5rem 2.5rem;
}

mat-form-field {
  width: 20rem;
}

.input-login {
  width: 20rem;
  height: 10rem;
  margin: 1.5rem auto;
}

.input-login label {
  display: block;
  font-size: 1.5rem;
  color: #ffffff;
}

.input-login input {
  padding-left: 1rem;
  margin-top: 1rem;
  height: 2.5rem;
  width: 100%;
  border: 0px;
  border-radius: 0.5rem;
  box-sizing: border-box;
}

.alert {
  background-color: red;
  width: 100%;
  color: white;
}

.input-login {}

.btn-login {
  display: block;
  width: 20rem;
  margin: 2rem auto;
  height: 2.5rem;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 1);
  border: 0px;
  color: #181818;
}