<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
  <div class="input-login">
    <label for="email">로그인</label>
    <input type="text" name="email" placeholder="이메일" formControlName="email">
    <p *ngIf="email.errors?.required && email.touched" class="alert" style="background-color:red;">
      이메일을 입력해 주시기 바랍니다.
    </p>
    <p *ngIf="email.errors?.pattern && email.touched" class="alert" style="background-color:red;">
      이메일 양식에 맞추어서 입력해주시기 바랍니다.
    </p>
    <input type="text" name="password" placeholder="비밀번호">
  </div>

</form>