<!--answer-->
<!--display: none은 최적의 방법은 아닌 것 같다...-->
<mat-card class="post answer" [style.display]="negative ? 'none' : 'block'">
  <div class="post metadata mat-caption">
    <!--TODO: bullet 삽입-->
    <span>답변<a href="#">연관토픽</a><a href="#">연관토픽</a></span>
    <i (click)="negativeFeedback()" class="material-icons">&#xE5CD;</i>
  </div>

  <h2 class="mat-h2">{{ answer.question }}</h2>

  <mat-card-header>
    <img mat-card-avatar [src]="answer.user.imgPath" [alt]="answer.user.name" width="50" height="50">
    <mat-card-title class="mat-h3">{{ answer.user.name }}, {{ answer.user.credential }}</mat-card-title>
    <!--TODO: 답변시간 표시방법- 타임스탬프와 브라우저 시간차 계산(서버에서? 클라이언트에서?)-->
    <mat-card-subtitle class="mat-caption">답변 시간 표시란</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content (click)="fetchExpandedContent(answer.id)">
    <p class="mat-body-1">
      {{ answer.content }} <a class="expand">(더보기)</a>
    </p>
  </mat-card-content>
  <div [hidden]="!isExpanded">
    <mat-card-actions>
      <button mat-button><i class="material-icons">&#xE83A;</i>{{ answer.stats.starHits }}</button>
      <span class="mat-body-1"><i class="material-icons">&#xE0B9;</i>{{ answer.stats.comments }}</span>
    </mat-card-actions>
    <app-comments></app-comments>
  </div>
</mat-card>
