.post {
  margin-top: 1rem;
}

.post.action {
  display: flex;
  justify-content: space-between;
}

.mat-caption .material-icons {
  font-size: 1.25rem;
  cursor: pointer;
}

.mat-card-content p {
  cursor: pointer;
}

.mat-icon-button .material-icons {
  font-size: 1.4rem;
}


.hidden {
  display: none;
}
