@import "../login.component.css";
.find-password {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 25rem;
  height: 20rem;
}

.tit-introduce {
  color: #dddddd;
  font-size: 4rem;
  text-align: center;
}

.input-password {
  width: 20rem;
  height: 4rem;
  margin: 1.5rem auto;
}

.input-password label {
  display: block;
  font-size: 1.5rem;
  color: #ffffff;
}

.input-password input {
  margin-top: 1rem;
  height: 2.5rem;
  width: 100%;
  border: 0px;
  border-radius: 0.5rem;
}

.txt-introduce {
  color: #ffffff;
  width: 250px;
  margin: 10px auto;
  font-size: 12px;
  padding: 15px;
  box-sizing: border-box;
}

.btn-change {
  display: block;
  width: 250px;
  margin: 0px auto;
  height: 30px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 1);
  border: 0px;
  color: #181818;
}