/* profile img 공통 */
.thumbnail {
  border-radius: 50%;
}

.thumbnail.md {
  width: 40px;
  height: 40px;
}

.thumbnail.sm {
  width: 30px;
  height: 30px;
}

/* post 공통 */
.mat-card.post {
  margin-top: 2rem;
}

/* post 상단 공통*/
/* TODO: cursor: pointer 속성 일괄적용하기(preview 클래스, action 클래스 등으로) */
.mat-caption .topic {
  margin-left: 0.5em;
}

.post.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.post mat-card-subtitle {
  display: flex;
  align-items: center;
  height: 40px;
}

.post .tag {
  margin-right: 1rem;
}

.answer-info {
  margin-left: 0.5rem;
  display: inline-block;
  height: 100%;
}

.answer-info .author {
  margin: 5px 0;
}

.mat-card-content,
.post.header>.material-icons,
.post .topic {
  cursor: pointer;
}

mat-card-content.mat-card-content * {
  margin: 0;
}

.mat-card-content .material-icons {
  position: absolute;
}

.mat-card-action i.material-icons {
  font-size: 1.5rem !important;
}
