<ng-container *ngIf="profileService.topicList">

<div class="profile-middle-modal-container">




  <div class="edit-credential-container" *ngIf="!isJobClicked && !isSchoolClicked">
    <span class="main-title">
      <strong class="mat-h2">Edit credentials</strong>
    </span>
    <hr>
    <br>
    <div class="edit-credential">
      <br>
      <button mat-button [matMenuTriggerFor]="credentialOptions">
        <mat-icon>add</mat-icon>
        <span class="edit-credential-button">
          <strong class="mat-h2">Add a credential</strong>
        </span>
        <mat-menu class="credential-options" #credentialOptions="matMenu" yPosition="below" [overlapTrigger]="false">
          <button mat-menu-item id="job" (click)="toggleMatMenu($event.target.id)">
            <mat-icon>business_center</mat-icon>직장</button>
          <button mat-menu-item id="school" (click)="toggleMatMenu($event.target.id)">
            <mat-icon>school</mat-icon>학업</button>
        </mat-menu>
      </button>
    </div>
    <br>
    <hr>
    <br>
    <br>

    <span>
      <strong class="mat-h2">경력사항</strong>
    </span>
    <br>
    <br>
    <br>
    <ul class="user-resume-list-container">
      <li *ngFor="let resume of profileService.userEmploymentCredentialList" [id]="resume.pk" #resumeEdit>
        <mat-icon class="user-resume-icon">{{ getUserResumeIcon(resume) }}</mat-icon>
        <span class="user-resume-content">
          <strong class="mat-h3">{{ resume.company.name }}에서 {{ resume.position }}으로 근무</strong>
        </span>
        <button mat-icon-button color="accent" (click)="profileService.deleteEmploymentCredential(resumeEdit.id)" class="delete-button">
          <mat-icon>cancel</mat-icon>
        </button>
        <hr>
      </li>
      <li *ngFor="let education of profileService.userEducationCredentialList" [id]="education.pk" #educationEdit>
        <mat-icon class="user-education-icon">{{ getUserResumeIcon(education) }}</mat-icon>
        <span class="user-education-content">
          <strong class="mat-h3">{{ education.school.name }}에서 {{ education.concentration.name }}을 전공</strong>
        </span>
        <button mat-icon-button color="accent" (click)="profileService.deleteEducationCredential(educationEdit.id)" class="delete-button">
          <mat-icon>cancel</mat-icon>
        </button>
        <hr>
      </li>
    </ul>
  </div>


  <div class="add-credential" *ngIf="isJobClicked">
    <span class="main-title">
      <strong class="mat-h2">이력 추가하기</strong>
    </span>
    <hr>
    <!-- <form class="add-credential-input"> -->
      <span>
        <strong class="mat-h3">직급</strong>
      </span>
      <mat-form-field class="add-position-input">
        <input matInput [(ngModel)]="position" placeholder="Furniture Designer">
      </mat-form-field>

      <br>
      <span>
        <strong class="mat-h3">회사 / 조직</strong>
      </span>
      <mat-form-field class="add-company-input">
        <!-- <input matInput [(ngModel)]="companyOrganization" placeholder="Toyota"> -->
        <mat-select placeholer="토픽을 선택하세요">
          <mat-option *ngFor="let topic of profileService.topicList.results" [value]="topic.name" (click)="companyId = topic.pk">
            {{ topic.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    
    <br>

    <p>
      <span>
        <strong class="mat-h3">입사 연도</strong>
      </span>
      <select (change)="settingYearsOfCredential($event.target)" id="startYear">
        <option *ngFor="let year of yearBox.reverse()" [value]="year">{{ year }}</option>
      </select>
    </p>
    <p> 
      <span>
        <strong class="mat-h3">퇴사 연도</strong>
      </span>
      <select (change)="settingYearsOfCredential($event.target)" id="endYear">
        <option *ngFor="let year of yearBox" [value]="year">{{ year }}</option>
      </select>
    </p>

    <p>
      <span>
        <strong class="mat-h3">현재 이곳에서 일하고 있어요</strong>
      </span>
      <mat-checkbox (change)="toggleIsWorkHere()" class="example-margin"></mat-checkbox>
      <button mat-button color="primary" class="button-submit-credential button-submit-employment-credential"
      (click)="sendEmploymentCredentialPayload()" type="button">추가하기</button>
    </p>
    <!-- </form> -->
  </div>



  <div class="add-education-credential" *ngIf="isSchoolClicked">
    <span class="main-title">
      <strong class="mat-h2">학력 추가하기</strong>
    </span>
    <hr>
    <!-- <form class="add-education-credential-input"> -->
      <span>
        <strong class="mat-h3">학교</strong>
      </span>
      <mat-form-field class="add-school-input">
        <mat-select placeholer="학교를 선택하세요">
          <mat-option *ngFor="let topic of profileService.topicList.results" [value]="topic.name" (click)="schoolId = topic.pk">
            {{ topic.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <br>

      <span>
        <strong class="mat-h3">전공</strong>
      </span>
      <mat-form-field class="add-concentration-input">
        <mat-select placeholer="전공을 선택하세요">
          <mat-option *ngFor="let topic of profileService.topicList.results" [value]="topic.name" (click)="concentrationId = topic.pk">
            {{ topic.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <br>

      <span>
        <strong class="mat-h3">학위 종류</strong>
      </span>
      <mat-form-field class="add-degree-type-input">
        <mat-select placeholder="Degree Type">
          <mat-option *ngFor="let degree of degreeTypeContainer" [value]="degree.type" (click)="degreeType = degree.type">
            {{ degree.description }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    <!-- </form> -->

    <br>

    <p>
      <span>
        <strong class="mat-h3">졸업 연도</strong>
      </span>
      <select (change)="settingYearsOfCredential($event.target)" id="graduationYear">
        <option *ngFor="let year of yearBox.reverse()" [value]="year">{{ year }}</option>
      </select>
      <button mat-button color="primary" class="button-submit-credential button-submit-education-credential"
      (click)="sendEducationCredentialPayload()" type="button">추가하기</button>

  </div>


</div>

</ng-container>