<div mat-dialog-content>
  <mat-tab-group>
    <mat-tab label="팔로워">
      <mat-nav-list>
        <a mat-list-item>
          <img mat-list-avatar src="assets/images/me.png">
          <span mat-line>김경훈</span>
          <p mat-line>지식 서비스, Back-End Engnieer</p>
          <button mat-icon-button>
            <mat-icon>person_add</mat-icon>
          </button>
        </a>
      </mat-nav-list>
    </mat-tab>
    <mat-tab label="팔로잉">
      <mat-nav-list>
        <a mat-list-item>
          <img mat-list-avatar src="assets/images/me.png">
          <span mat-line>김경훈</span>
          <p mat-line>지식 서비스, Back-End Engnieer</p>
          <button mat-icon-button>
            <mat-icon>person_outline</mat-icon>
          </button>
        </a>
      </mat-nav-list>
    </mat-tab>
  </mat-tab-group>
  
</div>