.user-name {
  float: right;
  margin-right: 20px;
}

img {
  min-width: 200px;
  min-height: 200px;
  max-width: 200px;
  max-height: 200px;
  border-radius: 50%;
  z-index: -99;
}

#avatar {
  display: none;
}

.user-profile-image {
  display: inline-block;
  margin-left: 30%;
}

.user-profile-image:hover {
  cursor: pointer;
}

/* .user-profile-image {
  margin-left: 30%;
} */

.submit-button {
  margin-left: 50px;
}

.submit-button .btn-save, .btn-cancel {
  width: 45%;
  margin-top: 20px;
}

.save-button button {
  margin-top: 20px;
  width: 100%;
}

.short-introduction, .main-introduction {
  display: inline-block;
  padding-left: 20px;
}

.short-introduction {
  margin-top: 20px;
}

.main-introduction {
  margin-top: 10px;
}

.edit-short-introduction {
  margin-left: 65px;
  width: 250px;
}

.edit-main-introduction {
  margin-left: 100px;
  width: 250px;

}

.user-input {
  margin-left: 70px;
}
/* .btn {
  min-width: 80px;
  border-radius: 2px;
  font-size: 12px;
  color: #fff;
  margin-left: 10px;
  border-color: transparent;
}

.btn .btn-cancel {
  background-color: #ffdd57;
  color: #3e3e3e;
} */

/* .btn .btn-save {
  background-color: #23d160;
} */