@import "../login.component.css";
.login {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40rem;
  height: 35rem;
}

.tit-introduce {
  color: #dddddd;
  font-size: 4rem;
  text-align: center;
}

.txt-introduce {
  color: #dddddd;
  font-size: 2rem;
  margin: 2.5rem 0px;
  text-align: center;
}

.btn-login {
  text-align: center;
}

.txt-introduce {
  color: #dddddd;
}

.btn-login button {
  width: 20rem;
  height: 2.5rem;
  margin: 1.5rem auto;
}

.account {
  margin-top: 2.5rem;
  text-align: center;
  color: #dddddd;
}

.account button {
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
  color: #dddddd;
}