<!--header: 범용 컴포넌트-->
<header class="header">
  <div class="container_12">
    <div class="grid_3"><h1 class="mat-h2">Nanum</h1></div>
    <div class="grid_6"><input type="text" class="mat-input" placeholder="search-bar"></div>
    <div class="grid_3">
      <button mat-icon-button color="primary">
        <mat-icon>notifications</mat-icon>
      </button>
      <button mat-mini-fab color="primary">
        <mat-icon>face</mat-icon>
      </button></div>
    <button mat-raised-button color="primary" (click)="openAskModal()">
      <span class="mat-button">질문하기</span>
    </button>
  </div>
</header>

<!--TODO: component 분리-->
<nav class="nav">
  <div class="container_12">
    <div class="grid_2 prefix_4">
      <a href="#"><span>읽기</span></a>
    </div>
    <div class="grid_2 suffix_4">
      <a href="#"><span>답변하기</span></a>
    </div>
  </div>
</nav>

<div class="main">

  <div class="container_12">
    <div class="grid_2">
      <!--TODO: component 분리-->
      <div class="sidebar">
        <div class="sidebar_header mat-h1">피드</div>
        <ul class="mat-display-1">
          <li><a href="#">북마크한 질문</a></li>
          <li><a href="#">최신 질문</a></li>
          <!--TODO: edit 링크 추가-->
          <li><a href="#">내 토픽</a>
            <ul class="sidebar_topics">
              <li><a href="#">토픽 1</a></li>
              <li><a href="#">토픽 2</a></li>
              <li><a href="#">토픽 3</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

    <div class="grid_8">
      <app-question-feed-content [question]="question" *ngFor="let question of questions"></app-question-feed-content>
    </div>

    <div class="grid_2">
    </div>
  </div>
</div>
