<!--header: 범용 컴포넌트-->
<!--<header class="app_header">-->
  <!--<div class="container_12">-->
    <!--<div class="grid_3"><h1 class="mat-h2">Nanum</h1></div>-->
    <!--<div class="grid_6"><input type="text" class="mat-input" placeholder="search-bar"></div>-->
    <!--<div class="grid_3">-->
      <!--<button mat-icon-button color="primary">-->
        <!--<mat-icon>notifications</mat-icon>-->
      <!--</button>-->
      <!--<button mat-mini-fab color="primary">-->
        <!--<mat-icon>face</mat-icon>-->
      <!--</button></div>-->
    <!--<button mat-raised-button color="primary" (click)="openAskModal()">-->
      <!--<span class="mat-button">질문하기</span>-->
    <!--</button>-->
  <!--</div>-->
<!--</header>-->

<!--TODO: component 분리-->
<!--<nav class="nav">-->
  <!--<div class="container_12">-->
    <!--<div class="grid_2 prefix_4">-->
      <!--<a href="#"><span>읽기</span></a>-->
    <!--</div>-->
    <!--<div class="grid_2 suffix_4">-->
      <!--<a href="#"><span>답변하기</span></a>-->
    <!--</div>-->
  <!--</div>-->
<!--</nav>-->

<!--<app-navigator></app-navigator>-->

<div class="main">

  <div class="container_12">
    <div class="grid_2">
      <!--TODO: component 분리-->
      <div class="sidebar">
        <h1 class="sidebar_header mat-h1">피드</h1>
        <div class="sidebar_lists">
          <ul class="sidebar_filters mat-caption">
            <li><a href="#"><i class="material-icons">bookmark_border</i>북마크한 질문</a></li>
            <li><a href="#"><i class="material-icons">trending_up</i>최신 질문</a></li>
          </ul>
          <div class="sidebar_edit mat-caption">
            <span><i class="material-icons">folder_special</i>내 토픽</span><a href="#">edit</a>
          </div>
          <ul class="sidebar_topics mat-caption">
            <li><a href="#">토픽 1</a></li>
            <li><a href="#">토픽 2</a></li>
            <li><a href="#">토픽 3</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="grid_8">
      <mat-card *ngFor="let question of questions" class="post question">
        <div class="post header">
          <span class="post metadata mat-caption">질문<a href="#" class="topic">연관토픽</a></span>
          <!--TODO: negativeFeedback answer feed에만 구현돼있음-->
          <i (click)="negativeFeedback(question.id)" class="material-icons md-18">close</i>
        </div>
        <mat-card-title>
          {{ question.question }}
        </mat-card-title>
        <div class="question-info">
          <div class="timestamp mat-caption">
            답변 시간 표시란(질문인 경우 답변, 팔로우 수, 경과시간 표시
          </div>
        </div>
        <mat-card-actions>
          <!--TODO: (click)="callEditorWithQuestionPK(not for each !!!!important)"-->
          <button mat-button>답변 달기</button>
          <button mat-button>팔로우</button>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="grid_2">
    </div>
  </div>
</div>
