/* header component */
.app_header {
  background-color: #25284c;
  height: 5rem;
  color: white;
}

/* nav component */
.nav {
  background-color: white;
  height: 3rem;
  border-bottom: 1px solid #bababa;
}
/***********************************/



.sidebar {
  margin-top: 2rem;
}

.sidebar_header {
  background-color: #383d72;
  width: 100%;
  height: 4rem;
  border-radius: 0.5rem;
  color: #ffffff;
}

.sidebar_topics {
  margin-left: 1em;
}

.mat-card.post:first-of-type {
  margin-top: 2rem;
}

.post {
  margin-top: 1rem;
}

.mat-card-header {
  display: block;
}

.post-heading {
  display: flex;
}
