
<div class="main">
  <div class="container_12">
    <div class="grid_2">
      <!--TODO: component 분리(ASAP)-->
        <div class="sidebar">
          <h1 class="sidebar_header mat-h1">피드</h1>
          <div class="sidebar_lists">
            <ul class="sidebar_filters mat-caption">
              <li><a href="#"><i class="material-icons">whatshot</i>인기글</a></li>
              <li><a href="#"><i class="material-icons">bookmark_border</i>북마크한 답변</a></li>
              <li><a href="#"><i class="material-icons">timeline</i>최신 글</a></li>
            </ul>
            <div class="sidebar_edit mat-caption">
              <span><i class="material-icons">folder_special</i>내 토픽</span><a href="#">edit</a>
            </div>
            <ul class="sidebar_topics mat-caption">
              <li><a href="#">토픽 1</a></li>
              <li><a href="#">토픽 2</a></li>
              <li><a href="#">토픽 3</a></li>
            </ul>
          </div>
        </div>
    </div>

    <div class="grid_8">
      <!--welcome-->
      <mat-card class="welcome">
        <!--TODO: routing to profile page(프로필 페이지 라우팅 완료되면 할 것)-->
        <div class="actions">
          <img class="thumbnail md" [src]="me.imgPath">
          <a class="ask mat-h1" (click)="openAskModal(me.name)">{{ me.name }}님, 질문이 무엇인가요?</a>
        </div>
      </mat-card>

      <!--main-feed-content-->
        <!--TODO: class: post answer 아닌지? 메인과 비교해서 일관성있게 고치기-->
      <ng-container *ngIf="answers">

        <mat-card *ngFor="let answer of answers" class="post">
          <!--post action: topic links-->
          <div class="post header">
            <span class="post metadata mat-caption">답변<a href="#" class="topic">연관토픽</a></span>
            <i (click)="negativeFeedback(answer.id)" class="material-icons md-18">close</i>
          </div>
          <!--TODO: routing to answer detail page(답변상세 페이지 라우팅 생기면 할 일. 근데 스태틱 페이지라면 얘기가 다름-->
          <mat-card-title>
            {{ answer.question }}
          </mat-card-title>
          <mat-card-subtitle>
            <img class="thumbnail md" [src]="answer.user.imgPath" [alt]="answer.user.name" width="50" height="50">
            <!--TODO: 답변시간 표시방법- 타임스탬프와 브라우저 시간차 계산(서버에서? 클라이언트에서?)-->
            <div class="answer-info">
              <div class="author">
                {{ answer.user }}
              </div>
              <div class="timestamp mat-caption">
                {{ answer.created_at }}
              </div>
            </div>
          </mat-card-subtitle>
          <mat-card-content (click)="fetchExpandedContent(answer.id)" class="mat-body-1" [innerHTML]="answer.content_html">
            <!--<p class="mat-body-1">-->
              <!--{{ answer.content }} <i class="material-icons md-18">expand_more</i>-->
            <!--</p>-->
          </mat-card-content>
          <mat-card-actions>
            <button mat-button><i class="material-icons">star_border</i>{{ answer.upvote_count }}</button>
            <span class="mat-body-1"><i class="material-icons">chat_bubble_outline</i>{{ answer.comment_count }}</span>
          </mat-card-actions>

          <!--확장 시 표시-->
          <mat-card-footer *ngIf="true">
            <div class="comment-area">
              <div class="comment-input">
                <img class="thumbnail sm" src="assets/images/me.png">
                <mat-form-field>
                <textarea [(ngModel)]="commentText" matInput placeholder="댓글을 입력하세요" matTextareaAutosize matAutosizeMinRows="1"
                  matAutosizeMaxRows="100"></textarea>
                </mat-form-field>
                <button mat-button (click)="test()" [disabled]="!commentText">댓글달기</button>
              </div>

              <div class="comment-list">
                <div class="comment">
                  <div class="comment_wrapper">
                    <img src="assets/images/zuckerberg.jpg" class="thumbnail sm">
                    <div class="comment_header">
                      <div class="comment_user mat-caption">user.name</div>
                      <div class="comment_metadata mat-caption">"modified_at"</div>
                    </div>
                    <div class="comment_content">
                      <p>Hello world</p>
                    </div>
                    <div class="comment_actions">

                    </div>
                  </div>
                  <div class="comment depth1">
                    <div class="comment_wrapper">
                      <img src="assets/images/zuckerberg.jpg" class="thumbnail sm">
                      <div class="comment_header">
                        <div class="comment_user mat-caption">"user.name"</div>
                        <div class="comment_metadata mat-caption">"modified_at"</div>
                      </div>
                      <div class="comment_content">
                        <p>Hello world</p>
                      </div>
                    </div>
                    <div class="comment depth2">
                      <div class="comment_wrapper">
                        <img src="assets/images/zuckerberg.jpg" class="thumbnail sm">
                        <div class="comment_header">
                          <div class="comment_user mat-caption">user.name</div>
                          <div class="comment_metadata mat-caption">"modified_at"</div>
                        </div>
                        <div class="comment_content">
                          <p>Hello world</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <span class="comment-list action">댓글 더보기<i class="material-icons md-18">expand_more</i></span>
              </div>
            </div>
          </mat-card-footer>
        </mat-card>
      </ng-container>

    </div>
    <!--우측 메뉴를 위해 남겨둔 공간-->
    <div class="grid_2">
      <button type="button" (click)="getNextPage()">더보기(임시)</button>
    </div>
  </div>
</div>
