.wrapper {
  z-index: 9999;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #FAFAFA;
}

.header {
  background-color: rgba(235, 235, 235, 0.50);
  border-bottom: 1px solid dimgray;
}

.header .material-icons {
  position: fixed;
  top: 0;
  right: 0;
  cursor: pointer;
}

.quill-editor {
  display: block;
  font-family: 'Spoqa Han Sans';
}


.form-buttons {
  position: fixed;
  bottom: 1rem;
}
