<!--header: 범용 컴포넌트-->
<!--<header class="app_header">-->
<!--<div class="container_12">-->
<!--<div class="grid_3"><h1 class="mat-h2">Nanum</h1></div>-->
<!--<div class="grid_6"><input type="text" class="mat-input" placeholder="search-bar"></div>-->
<!--<div class="grid_3">-->
<!--<button mat-icon-button color="primary">-->
<!--<mat-icon>notifications</mat-icon>-->
<!--</button>-->
<!--<button mat-mini-fab color="primary">-->
<!--<mat-icon>face</mat-icon>-->
<!--</button></div>-->
<!--<button mat-raised-button color="primary" (click)="openAskModal()">-->
<!--<span class="mat-button">질문하기</span>-->
<!--</button>-->
<!--</div>-->
<!--</header>-->

<app-navigator></app-navigator>


<!--main: 큰 레이아웃(2:8:2 그리드)만 공유가능-->
<div class="main">

  <div class="container_12">
    <!--좌측 메뉴-->
    <div class="grid_2">
      <app-main-left></app-main-left>
    </div>

    <!--메인 컴포넌트-->
    <div class="grid_8">
      <app-feed></app-feed>
    </div>
    <!--우측 메뉴를 위해 남겨둔 공간-->
    <div class="grid_2">
    </div>
  </div>
</div>
