  <div class="container_12">
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          이메일
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div>email@email.com</div>
    </mat-expansion-panel>
  </div>
  <div class="container_12">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            비밀번호 재설정
          </mat-panel-title>
        </mat-expansion-panel-header>
        <form>
          <div>
            <mat-form-field>
              <input matInput placeholder="기존 비밀번호">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <input matInput placeholder="새로운 비밀번호">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <input matInput placeholder="새로운 비밀번호 확인">
            </mat-form-field>
          </div>
          <button mat-button>비밀번호 변경</button>
        </form>
      </mat-expansion-panel>
  </div>