/* header component */
.app_header {
  background-color: #25284c;
  /* TODO: position: fixed 정리하기 */
  /*height: 5rem;*/
  /*color: white;*/
}

/* nav component */
.nav {
  background-color: white;
  border-bottom: 1px solid #bababa;
  /* TODO: position: fixed 정리하기 */
  /*position: fixed;*/
  /*height: 3rem;*/
  /*top: 5rem;*/
}
/***********************************/

.main {
  background-color: #FAFAFA;
}

div.actions {
  display: flex;
  align-content: center;
}

div.actions * {
  cursor: pointer;
  margin-right: 0.5rem;
  margin-bottom: 0;
  vertical-align: middle;
}

div.actions .ask {
  padding-top: 3px;
}



.sidebar * {
  /*TODO: position: fixed 정리하기*/
  /*position: fixed;*/
  /*top: 8rem;*/
  box-sizing: border-box;
}
.sidebar,
.welcome {
  margin-top: 2rem;
}

.sidebar_header {
  padding-left: 1rem;
  background-color: #383d72;
  width: 100%;
  line-height: 4rem;
  border-radius: 0.5rem 0.5rem 0 0;
  color: #F2F3F4;
  margin-bottom: 0;
}

.sidebar_lists {
  background-color: rgba(235, 235, 235, 0.50);
  border-radius: 0 0 0.5rem 0.5rem;
}

.sidebar_lists li {
  border-radius: 0.5rem;
}

.sidebar_lists i {
  font-size: 1.5rem;
  float: left;
}

.sidebar_lists a {
  color: #44403E;
  font-weight: 400;
  text-decoration: none;
}

.sidebar_lists a:hover {
  color: #5256AA;
}

.sidebar_filters a {
  display: inline-block;
  padding: 0.7rem 1rem;
  width: 100%;
  height: 100%;
}

.sidebar_lists li:hover {
  /*background-color: #E2E3F1;*/
}

.sidebar_edit {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  color: #44403E;
  padding: 0.7rem 1rem;
}

.sidebar_edit a:hover {
  text-decoration: underline;
}

.sidebar_topics li {
  position: relative;
}

.sidebar_topics li::before {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #5256AA;
  top: calc(50% - 0.25rem);
  left: 1rem;
}

.sidebar_topics a {
  margin-left: 1rem;
  display: inline-block;
  padding: 0.5rem 0 0.5rem 1rem;
  width: calc(100% - 1rem);
  height: 100%;
}



/* profile img 공통 */
.thumbnail {
  border-radius: 50%;
}

.thumbnail.md {
  width: 40px;
  height: 40px;
}

.thumbnail.sm {
  width: 30px;
  height: 30px;
}


/* welcome card */

.mat-card.welcome mat-card-title {
  display: inline-block;
}

.welcom.actions {
  vertical-align: middle;
}

.welcome .ask {
  color: #999999;
}

.welcome .ask:hover {
  /*color: #25274D;*/
  color: #5256AA;
}

/* post 공통 */
.mat-card.post {
  margin-top: 1rem;
}

/* post 상단 공통*/
/* TODO: cursor: pointer 속성 일괄적용하기(preview 클래스, action 클래스 등으로) */
.post.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.post mat-card-subtitle {
  display: flex;
  align-items: center;
  height: 40px;
}

.post .tag {
  margin-right: 1rem;
}

.answer-info {
  margin-left: 0.5rem;
  display: inline-block;
  height: 100%;
}

.answer-info .author {
  margin: 5px 0;
}

.mat-card-content,
.post.header>.material-icons,
.post .topic {
  cursor: pointer;
}

.mat-card-content .material-icons {
  position: absolute;
}

.mat-card-action i.material-icons {
  font-size: 1.5rem !important;
}


.hidden {
  display: none;
}

.mat-card-footer {
  background-color: rgba(235, 235, 235, 0.50);
  padding: 2rem;
}

.comment-input {
  position: relative;
}

.mat-card-footer .thumbnail {
  position: absolute;
  top: 8px;
  left: 0;
  width: 2.5rem;
  height: 2.5rem;
}

.mat-card-footer .mat-form-field {
  margin: 0 1rem 0 3rem;
  width: 75%;
}

.mat-card-footer .mat-button {
  position: absolute;
  top: 8px;
}



/*comment*/

.comment {
  position: relative;
  padding-left: 3rem;
}

.comment_wrapper {
  padding: 3px 0;
}

.comment_header,
.comment_content {
  color: #100c08;
  margin-bottom: 0.5rem;
}

.comment_user {
  font-weight: 700;
}

.comment_content {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*.comment_list.action {*/
  /*display: inline-block;*/
  /*line-height: 2rem;*/
  /*cursor: pointer;*/
  /*float: left;*/
  /**/
  /*padding: 0.5rem;*/
  /*margin: -0.5rem;*/
/*}*/

/*.comment_list.action .material-icons {*/
  /*float: left;*/
/*}*/
