<div class="wrapper">
  <div class="header">
    <div class="container_12">
      <div class="grid_8 prefix_2 suffix_2">
        <h2 class="mat-h1">Angular 프레임워크는 무엇인가요?</h2>
      </div>
    </div>
    <span><i class="material-icons">close</i></span>
  </div>
  <div class="container_12">
    <div class="grid_8 prefix_2 suffix_2">

      <!--editor componenet-->
      <div class="quill-container">
        <div class="quill-editor">
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <quill-editor [style]="{ height: '100%' }" [placeholder]="'답변을 입력하세요'"
                          #editor formControlName="editor" (onEditorCreated)="setFocus($event)">
              <div quill-editor-toolbar>
                <span class="ql-formats">
                  <button class="ql-bold" [title]="'Bold'"></button>
                  <button class="ql-italic" [title]="'Italic'"></button>
                </span>
                <span class="ql-formats">
                  <button class="ql-list" value="ordered" [title]="'Numbers'"></button>
                  <button class="ql-list" value="bullet" [title]="'Bullets'"></button>
                  <button class="ql-blockquote" [title]="'Blockquote'"></button>
                  <button class="ql-code-block" [title]="'Code'"></button>
                </span>
                <span class="ql-formats">
                  <button class="ql-image" [title]="'Image'"></button>
                  <button class="ql-video" [title]="'Video'"></button>
                  <button class="ql-link" [title]="'Link'"></button>
                </span>
              </div>
            </quill-editor>
            <div class="form-buttons">
              <button mat-button type="submit" color="primary">확인</button>
              <button mat-button type="button" (click)="getContent()">임시 저장</button>
              <span>draft saved before...</span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
