@import "../login.component.css";
.email-signup {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 30rem;
  height: 45rem;
}

.signup-form {
  margin-top: 2.5rem;
  background-color: #fafafa;
  font-size: 1.5rem;
  padding: 1.0rem 2.5rem 2.5rem 2.5rem;
}

mat-form-field {
  width: 25rem;
}

.input-signup {
  width: 20rem;
  height: 10rem;
  margin: 1.5rem auto;
}

.input-signup label {
  display: block;
  font-size: 1.5rem;
  color: #fafafa;
}

.input-signup input {
  padding-left: 1rem;
  margin-top: 1rem;
  height: 2.5rem;
  width: 100%;
  border: 0px;
  border-radius: 0.5rem;
  box-sizing: border-box;
}

.alert {
  background-color: red;
  width: 100%;
  color: #fafafa;
}

.input-login {}

.btn-signup {
  display: block;
  width: 20rem;
  margin: 0rem auto;
  margin-top: 4rem;
}