.comment-area {
  padding: 1rem;
  background-color: #EBEBEB;
}

.comment-input {
  background-color: tan;
}

.comment-input .mat-card-avatar {
  float: left;
  width: 2.5rem;
  height: 2.5rem;
}

mat-form-field {
  width: 300px;
}

.comment-list .mat-card-avatar {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  left: 0;
}

.comment.level-1 {
  position: relative;
  padding-left: 3rem;
}
