<div *ngIf="isShow" class="quill-container">
  <div class="question-box">
    <span class="question-name">질문 제목</span>
  </div>
  <div class="quill-editor">
    <quill-editor [style]="{ height: '300px' }" [placeholder]="'Write your answer'">
      <div quill-editor-toolbar>
        <span class="ql-formats">
          <button class="ql-bold" [title]="'Bold'"></button>
          <button class="ql-italic" [title]="'Italic'"></button>
          <button class="ql-underline" [title]="'Underline'"></button>
        </span>
        <span class="ql-formats">
          <button class="ql-list" value="ordered" [title]="'Numbers'"></button>
          <button class="ql-list" value="bullet" [title]="'Bullets'"></button>
          <button class="ql-indent" value="+1" [title]="'Indent'"></button>
          <button class="ql-indent" value="-1" [title]="'Unindent'"></button>
        </span>
        <span class="ql-formats">
          <button class="ql-blockquote" [title]="'Blockquote'"></button>
          <button class="ql-code-block" [title]="'Code'"></button>
        </span>
        <span class="ql-formats">
          <button class="ql-image" [title]="'Image'"></button>
          <button class="ql-video" [title]="'Video'"></button>
          <button class="ql-link" [title]="'Link'"></button>
        </span>
      </div>
    </quill-editor>
  </div>

  <i (click)="close()" class="fa fa-times fa-2x"></i>
  <button class="submit" (click)="getContents()">Submit</button>
</div>
