<!--<button type="button" (click)="onScrollBottom()">more</button>-->
<!--<button type="button" (click)="typeChange()">typechanger</button>-->

<div class="container_12">
  <div class="grid_2">

  </div>
  <div class="grid_8">

    <ng-container *ngIf="type === 'question' && results">
      <app-question *ngFor="let question of results" [question]="question"></app-question>
    </ng-container>
    <ng-container *ngIf="type === 'answer' && results">
      <app-answer *ngFor="let answer of results" [answer]="answer"></app-answer>
    </ng-container>

  </div>
  <div class="grid_2">

  </div>
</div>

